<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548092942290-154q4ovl4al2375cga2fc914ajt1ebev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548092942290-154q4ovl4al2375cga2fc914ajt1ebev</string>
	<key>API_KEY</key>
	<string>AIzaSyApy5Xq3Hvbo0iuyMWohoGkxsNoJ8SlioM</string>
	<key>GCM_SENDER_ID</key>
	<string>548092942290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fabianospdev.BookShelf</string>
	<key>PROJECT_ID</key>
	<string>bookshelf-90a16</string>
	<key>STORAGE_BUCKET</key>
	<string>bookshelf-90a16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548092942290:ios:136b6cbbb0e21da78b5a0b</string>
</dict>
</plist>